__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.chalice/deployments/
.chalice/venv/

# Node.js/React artifacts
web/node_modules/
web/.pnp
web/.pnp.js
web/build/
web/coverage/
web/.DS_Store
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pocket-pharmacist.iml
/.idea/vcs.xml
