[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "==1.29.0"
requests = "==2.31.0"
boto3 = "==1.34.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
