body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Increase base font size for small screens */
@media (max-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .list-group-item,
  .form-control,
  .btn {
    font-size: 1.25rem;
  }

  .dropdown-item {
    font-size: 1.0rem;
  }

  h4, h5, h6 {
    font-size: 1.5rem;
  }
}
